@using PlayTime.Infrastructure.Models
@model PlayTime.Web.Models.Customer.CustomerCRUDModel
<h1>@Model.Name</h1>
<p>Was created: @Model.CreatedDate.ToString("F")</p>

@if (Model.LastModifiedDate.HasValue)
{
    <p>Was modified: @Model.LastModifiedDate.Value.ToString("F")</p>
}

<p>
    @Html.ActionLink("Edit", "Edit", "Customer", new { @id = Model.Id }, null)
</p>

@if (Model.Projects.Any())
{
    <h2>Projects</h2>

    <ul>
        @foreach (Project project in Model.Projects)
        {
            <li>
                @Html.ActionLink(project.Name, "View", "Project", new { @id = project.Id }, null)
            </li>
        }
    </ul>
}

<p>
    @Html.ActionLink("Create new project", "Create", "Project", new { @id = Model.Id }, null)
</p>

<p>
    @Html.ActionLink("Back", "Index", "Customer")
</p>