@model PlayTime.Web.Models.Registration.RegistrationIndexModel

<h1>@Resources_Registration.PageTitle_Registration_Index</h1>

@if (Model.Registrations.Any())
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Customer</th>
                    <th>Project</th>
                    <th>Task</th>
                    <th>Time spent</th>
                    <th>Is invoiced?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Registration reg in Model.Registrations)
                {
                    <tr>
                        <td>@Html.Raw(reg.Name)</td>
                        <td>@Html.Raw(reg.StartTime)</td>
                        <td>@Html.Raw(reg.EndTime)</td>
                        <td>@Html.Raw(reg.Task.Project.Customer.Name)</td>
                        <td>@Html.Raw(reg.Task.Project.Name)</td>
                        <td>@Html.Raw(reg.Task.Name)</td>
                        <td>
                            @if (reg.StartTime.HasValue && reg.EndTime.HasValue)
                            {
                                <text>
                                    @Html.Raw(reg.EndTime.Value.Subtract(reg.StartTime.Value))
                                </text>
                            }
                        </td>
                        <td>@Html.Raw(reg.IsInvoiced)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>There are no registrations...</p>
}