@model PlayTime.Web.Models.Project.ProjectCreateOrUpdateModel

<h1>@Model.Name - edit</h1>

@using (Html.BeginForm("Edit", "Project", FormMethod.Post))
{
    <div>
        @Html.LabelFor(x => x.Name)
        @Html.EditorFor(x => x.Name)
    </div>

    <div>
        @Html.LabelFor(x => x.IsFixed)
        @Html.EditorFor(x => x.IsFixed)
    </div>

    <div>
        @Html.LabelFor(x => x.Price)
        @Html.EditorFor(x => x.Price)
    </div>

    <div>
        @Html.LabelFor(x => x.StartDate)
        @Html.EditorFor(x => x.StartDate)
    </div>

    <div>
        @Html.LabelFor(x => x.EndDate)
        @Html.EditorFor(x => x.EndDate)
    </div>

    <input type="submit" value="Create" />
}